<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %>
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">


    </div>
    <div class="col-sm-4">
      <p>나쁜 기사를 박제하는 사이트입니다.</p>
    </div>
    <div class="col-sm-4">

    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>
